<td class="c1">
<% if @state_rain_reading.mm >= 0 %>
  <% if admin? %>
    <%= link_to_remote @state_rain_reading.mm, {:url => {:controller => 'state_rain_readings', :action => 'edit', :id => @state_rain_reading.id}, :method => :get} %>
  <% else %>
    <%= @state_rain_reading.mm %>
  <% end %>
  </td>
  <td>
    <% if @state_rain_reading.mm > 15.1 %>
      <img style="width: 151px; height: 7px;" alt="" src="/images/1x1black.png"></td><td class="c1">&nbsp;+
    <% else %>
      <img style="width: <%= @state_rain_reading.mm * 10 %>px; height: 7px;" alt="" src="/images/1x1black.png">
    <% end %>
<% else %>
  -
  </td>
  <td>
  <% if admin? %>
    <%= link_to_remote '(data&nbsp;not&nbsp;available)', {:url => {:controller => 'state_rain_readings', :action => 'edit', :id => @state_rain_reading.id}, :method => :get} %>
  <% else %>
    (data&nbsp;not&nbsp;available)
  <% end %>
  </td>
  <td>
<% end %>
</td>
