<h1>Privacy Policy (edit)</h1>
<% form_tag :action => 'update', :id => @special do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag 'Save changes' %></p>
<% end %>

<hr size="1" color="#ccc">

<p><%= link_to 'Back', :action => 'index' %></p>