<%= error_messages_for 'nation' %>

<!--[form:nation]-->
<p><label for="nation_name">Name</label><br/>
<%= text_field 'nation', 'name'  %></p>

<p><label for="nation_description">Description</label><br/>
<%= text_area 'nation', 'description', "cols" => 70, "rows" => 10 %></p>
<!--[eoform:nation]-->

