<ul id="regions_edit_list">
  <% @nation.regions.each do |region| %>
    <% domid = "region_#{region.id}" %>
    <li class="region_item" id="<%= domid %>"><%= region.name %></li>
  <% end %>
</ul>
<%= sortable_element 'regions_edit_list', :url => {:action => 'update_region_order'} %>