<h1><%= @nation.name %> (edit)</h1>
<% form_tag :action => 'update', :id => @nation do %>
  <%= render :partial => 'form' %>
  <p class="form_buttons"><%= submit_tag 'Save changes' %> or <%= link_to 'Cancel', :action => 'show', :id => @nation %></p>
<% end %>
