<% if params[:action] =~ /new|create/ %>
<% state_title = 'New state (edit)' %>
<% else %>
<% state_title = @state.name + (params[:action] =~ /edit|update/ ? ' (edit)' : '') %>
<% end %>

<%= render :partial => 'shared/nav_current', :locals => { :id => 'state', :current => state_title } %>

<% for area in @state.areas %>
<li><%= link_to area.name, { :controller => 'area', :action => 'show', :id => area.id }, :id => 'area' %></li>
<% end %>

<% if params[:action] =~ /new|create/ %>
<% for state in @state.nation.states %>
  <li><%= link_to state.name, { :controller => 'state', :action => 'show', :id => state.id }, :id => 'state' %></li>
<% end %>
<% end %>