<h1>Admin</h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>

<p>System time: <%= Time.now.to_s(:full) %></p>

<p><%= link_to 'Map Types', :controller => '/admin/map_types' %></p>
<p><%= link_to 'Users', :controller => '/admin/users' %></p>
