<% if params[:action] =~ /new|create/ %>
<% area_title = 'New area (edit)' %>
<% else %>
<% area_title = @area.name + (params[:action] =~ /edit|update/ ? ' (edit)' : '') %>
<% end %>

<li><%= link_to @area.state.name, { :controller => 'state', :action => 'show', :id => @area.state.id }, :id => 'state' %></li>

<%= render :partial => 'shared/nav_current', :locals => { :id => 'area', :current => area_title } %>

<% for track in @area.tracks %>
<li><%= link_to track.name, { :controller => 'track', :action => 'show', :id => track.id }, :id => 'track' %></li>
<% end %>

<% if params[:action] =~ /new|create/ %>
<% for area in @area.state.areas %>
  <li><%= link_to area.name, { :controller => 'area', :action => 'show', :id => area.id }, :id => 'area' %></li>
<% end %>
<% end %>