<h1>New area (edit)</h1>

<% form_tag :action => 'create', :region_id => params[:region_id] do %>
  <%= render :partial => 'form' %>
  <p class="form_buttons"><%= submit_tag "Create" %> or <%= link_to 'Cancel', :controller => 'region', :action => 'show', :id => params[:region_id] %></p>
<% end %>
