<h1>New area (edit)</h1>

<% form_tag :action => 'create', :region_id => params[:region_id] do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag "Create" %></p>
<% end %>

<hr size="1" color="#ccc">

<p><%= link_to 'Back', :controller => 'region', :action => 'show', :id => params[:region_id] %></p>