<div id="nav_outer"><div id="nav"><h1>Latest Track Updates</h1>
<% for track in Track.find_recent do %>
<p><%= link_to track.name, { :controller => 'track', :action => 'show', :id => track.id} %><span id="date"> (<%= track.date.strftime("%d %b %Y").gsub(/^0/, '') %>)</span></p>
<% end %>
</div></div>
