html, body {
  height: 100%;
}

body {
  background: #ccc;
  margin: 0;
}

a {
  background: transparent;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: black;
  font-weight: bold;
}

a:hover {
  background: #ccc;
  color: #f48a00;
  font-weight: bold;
}

a:link img, a:visited img { border-style: none } /* no border on img links */



a.external:hover {
  background: #ccc url('/images/external.png') no-repeat scroll right center;
}
a.external {
  background: transparent url('/images/external.png') no-repeat scroll right center;
  padding-right: 13px;
}

hr {
  background-color: #ccc;
  border: 0 none;
  color: #ccc;
  height: 1px;
  margin: 0;
}

.bg {
  height: 100%;
}

.bg_left {
  background: #999 url('/images/bg_left.png') repeat-y right;
  width: 50%;
}

.bg_right {
  background: #999 url('/images/bg_right.png') repeat-y left;
  width: 50%;
}

.container {
  font: 13px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  color: black;
  padding: 10px;
}

.head_l {
  float: left;
  background: url('/images/title_l.png') no-repeat left center;
  width: 8px;
  height: 90px;
}

.head_r {
  float: left;
  background: url('/images/title_r.png') no-repeat right center;
  width: 8px;
  height: 90px;
  margin-bottom: 10px;
}

.head {
  float: left;
  background: url('/images/title_c.png') repeat-x center;
  font: bolder 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  color: white;
  text-align: left;
  height: 90px;
  width: 798px;
}

.head a {
  color: white;
}

.head a:hover {
  background: transparent;
  color: white;
}

.logo {
  float: left;
  padding: 24px 0 0 8px;
}

.head .buttons {
  margin-top: 46px;
  float: right;
}

.head .buttons .auth {
  background: url('/images/title_link_l.png') center left no-repeat;
  color: #999;
  float: left;
  margin-right: 18px;
  margin-left: 8px;
}

.head .buttons .auth p {
  background: url('/images/title_link_r.png') center right no-repeat;
  margin-right: -10px;
  padding: 2px 10px 3px 10px;
}

.head .buttons .auth a {
  color: #f48a00;
  padding: 0 4px 1px 4px;
}

.head .buttons .auth a:hover {
  color: #f48a00;
  background: #ccc;
}

.head .buttons .search {
  background: url('/images/title_link_l.png') center left no-repeat;
  margin-right: 18px;
  float: left;
}

.head .buttons .search p {
  background: url('/images/title_link_r.png') center right no-repeat;
  margin-right: -10px;
  padding: 2px 10px 3px 0;
}

.head .buttons .search .search_box {
  color: #f48a00;
  margin: 0 8px 0 10px;
  border-style: none;
  height: 13px;
  font-size: 11px;
}

.head .buttons .search .search_button {
  margin: 1px -2px -3px 0;
}

.foot_l {
  float: left;
  background: url('/images/copy_l.png') no-repeat left center;
  width: 8px;
  height: 30px;
}

.foot_c {
  float: left;
  background: url('/images/copy_c.png') repeat-x center;
  width: 798px;
  height: 30px;
}

.foot_r {
  float: left;
  background: url('/images/copy_r.png') no-repeat right center;
  width: 8px;
  height: 30px;
}

.foot_content {
  float: left;
  font: 13px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  color: #ddd;
  padding-top: 6px;
}

.foot_content a {
  background: transparent;
  color: #ccc;
  font-weight: bold;
}

.foot_monkey {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}

.foot_feature {
  text-align: center;
  font-size: 11px;
  margin-top: -4px;
  margin-bottom: 6px;
  color: #999;
}

.foot_feature a {
  color: #999;
}

.foot_feature a:hover {
  color: #f48a00;
  background: #ccc;
}

.tableau, .tableau_horiz  {
  margin: 10px;
  border-collapse: collapse;
}

.tableau th, .tableau_horiz th {
  background: #dadada;
  padding: 8px;
  font-size: 80%;
  font-weight: normal;
  color: #000000;
}

.tableau td {
  border-bottom: 1px solid #dadada;
  padding: 8px;
  font-size: 80%;
}

tr.list-line-odd    {background-color: #f6f6f6;}
tr.list-line-even   {background-color: #efefef;}

.tableau_horiz td {
  border-right: 1px solid #dadada;
  padding: 8px;
  font-size: 80%;
}

td.list-line-odd    {background-color: #f6f6f6;}
td.list-line-even   {background-color: #efefef;}

div.clearboth {clear: both;}

.date {
  text-align: right;
  font-size: 9px;
  font-style: italic;
  color: #666;
}

.date_left {
  font-size: 9px;
  font-style: italic;
  color: #666;
}

.column_one {
  width: 200px;
  float: left;
}

.nav_outer {
  background: #999;
  padding: 1px;
  margin-bottom: 10px;
}

.nav {
  border: 1px solid white;
  background: #999;
  margin: 0;
}

.nav p {
  margin: 5px 9px;
  font-size: 12px;
}

.nav ul {
  margin: 3px 0 0 0;
  padding: 0 0 5px 0;
  list-style: none;
}

.nav li {
  display: inline;
  padding: 0;
  margin: 0;
}

.nav li span { /* unlinked menu item */
  display: block;
  padding: 1px 23px 3px 0;
  margin-right: -13px;
  color: #f48a00;
  min-height: 16px;
}

.nav li .current_t {
  background: url('/images/current_t.png') no-repeat top right;
  margin-top: -4px;
  padding-top: 4px;
}

.nav li .current_c {
  background: url('/images/current_c.png') no-repeat right;
  margin-right: -13px;
}

.nav li .current_b {
  background: url('/images/current_b.png') no-repeat bottom right;
  margin-bottom: -4px;
  padding-bottom: 4px;
}

.nav li.current a {
  padding: 0;
  text-decoration: none;
  color: #f48a00;
  font-weight: normal;
}

.nav li.current a:hover {
  background: none;
  font-weight: normal;
}

.nav li a {
  display: block;
  padding: 0 5px 2px 9px;
  text-decoration: none;
}

.nav li a:hover {
  background: #ccc url('/images/arrow.png') no-repeat right;
}

.nav #date {
  font-size: 9px;
  color: #666;
}

.nav .main {
  padding-left: 9px;
}

.nav .region {
  padding-left: 19px;
}

.nav .area {
  padding-left: 29px;
}

.nav .track {
  padding-left: 39px;
}

.nav .sub_track {
  padding-left: 49px;
}

.nav h2 {
  float: left;
  background: #777 url('/images/nav_div.png') no-repeat right top;
  font: bold 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  color: white;
  height: 18px;
  margin: 0;
  padding: 2px 32px 0 8px;
}

.nav h3 {
  border-top: #777 1px solid;
  margin: 0;
  padding-top: 2px;
}

.nav .rainfall {
  padding-bottom: 5px;
  margin-left: 5px;
  min-width: 100px;
  font: 9px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  color: #ccc;
}

.nav .rainfall .c1 {
  text-align: right;
  padding-right: 2px;
}

.nav .rainfall .ruler {
  background: url("../images/ruler.png") repeat-x;
  height: 8px;
  min-width: 151px;
}

.nav .rainfall a {
  font-weight: normal;
  color: #ccc;
}

.nav .rainfall a:hover {
  font-weight: normal;
  background: #ccc;
  color: #f48a00;
}

.nav .rainfall form {
  border: solid 1px;
  padding: 4px;
}

.nav .edit_report {
  border: solid 1px #777777;
  margin: 5px;
  padding: 4px;
}

h1 {
  background: url('/images/h1_bar.png') repeat-x top;
  font: bold 13px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  color: white;
  height: 25px;
  margin: 0;
  padding: 4px 0 0 8px;
}

.column_two {
  margin-left: 210px;
  padding: 0;
}

.content {
  font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  background: white;
  border: 1px solid #999;
  padding: 1px;
  width: 600px;
  min-height: 165px;
  margin-bottom: 10px;
}

.content a {
  color: #ba6900;
}

.content a:visited {
  color: #ba6900;
}

.content p {
  font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  margin: 0;
  padding: 5px 9px;
}

.content p .spacer {
  padding: 4px;
}

.content table {
  margin: 5px 0;
  padding: 0 9px;
}

.content th {
  text-align: left;
}

.content tr {
  vertical-align: top;
}

.content .edit {
  color: #999;
}

.content h2 {
  float: left;
  font: bold 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  background: #999 url('/images/content_div.png') no-repeat right top;
  color: white;
  height: 18px;
  margin: 0;
  padding: 2px 32px 0 8px;
}

.content h3 {
  border-top: #999 1px solid;
  height: 18px;
  margin: 0;
  padding: 0;
}

.content h4 {
  font: bold italic 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  margin: 5px 0;
  padding: 0 9px;
  color: #f48a00;
}

.content .fieldWithErrors {
  margin: -5px 0 5px 0;
  padding: 0 9px;
}

.content label {
  color: #999;
}

.content #simple_captcha {
  margin: 10px 0;
  padding: 0 9px;
}

.content #simple_captcha p {
  margin: 5px 0;
  padding: 0;
}

.content .left {
  float: left;
  color: #aaa;
  width: 100px;
  text-align: right;
  margin: 0;
  padding: 0;
  border: 0;
}

.content .right {
  color: black;
  margin: 0 0 0 90px;
  padding: 0;
  border: 0;
}

.content .print_link {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
}

.content .print_link a:hover {
  background: none;
}

.content .two_cols {
  margin: 10px;
}

.content .two_cols .col_one {
  padding: 2px 0 3px 0;
  float: left;
  width: 180px;
}

.content .two_cols .col_one .edit {
  padding: 4px 0 0 0;
  color: #999;
}

.content .two_cols .col_two {
  padding: 2px 0 3px 0;
  font-weight: bold;
}

.content p.bullet {
  font-size: 12px;
/*  list-style-type: none;*/
/*  text-align: left;*/
/*  text-decoration: none;*/
/*  margin: 0;*/
/*  padding: 0 0 0 5px;*/
  background: transparent url('/images/bullet.png') no-repeat scroll 4px 0;
  color: #555555;
/*  line-height: 14px;*/
  margin: 0;
  padding: 0 10px 6px 24px;
/*  padding-bottom: 3px;*/
/*  padding-left: 18px;*/
}

.track_summary {
  margin: 9px;
  width: 200px;
}

.track_summary p {
  margin: 0;
}

.track_summary .left {
  padding: 0;
  float: left;
  width: 120px;
  text-align: left;
  color: black;
}

.track_summary .right {
  padding: 0;
  text-align: right;
  width: 80px;
  margin-left: 120px;
}

#map {
  width: 582px;
  height: 466px;
  margin: 8px;
  border: 1px solid black;
}

#map div {
  max-width: 582px;
}

#map div span {
  white-space: normal;
}

.infoDescription
{
   width: 300px;
   font-size: 11px;
   margin-bottom: 20px;
   text-decoration: none;
}

#currTrackSelection {
  position: absolute;
  line-height: 18px;
  vertical-align: middle;
  top: 20px;
  left: 80px;
  z-index: 1;
  color: #BA6900;
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  filter: alpha(opacity=90);
  -moz-opacity:0.90;
  opacity:0.90;
}

#currTrackSelection .summary {
  padding: 2px 2px 4px 2px;
  border: 1px solid black;
}

#labelContainer {
  position: relative;
  z-index: 1;
}

p.notice {
  font-style: italic;
  color: #f48a00;
}

p.form_buttons {
  margin: 15px 0 10px 0;
}

.sub_form {
  margin: 8px;
  padding: 4px 0;
  border: 1px solid #ccc;
}

.note {
  font-style: italic;
  color: #555;
}

#regions_list ul {
/*  border:1px solid;*/
  padding-left:0;
}

#regions_list li {
  list-style: none;
  cursor: -moz-grab;
  margin: 5px 20px;
/*  padding:2px 0;*/
  width:inherit;
  white-space:nowrap;
/*  background-color:red;*/
  background-image:url(/images/arrow_up_down.png);
  background-repeat:no-repeat;
  background-position:0 0;
  padding-left:30px;
}
