/* Alternative CSS for IE 5, 5.5, and 6. This is basically work-arounds for IE non-compilance... */

.head {
  height: 74px;
}

.head .auth {
  margin-top: 42px;
}

.foot_l {
  margin-top: -10px;
}

.foot_c {
  height: 24px;
}

#column_one {
  display: inline;
}

#column_two {
  float:left;
  display: inline;
}

#column_two #left {
  display: inline;
}

#nav li .current_c {
	background: url('/images/current_ie_c.png') repeat-y;
	margin: 0 0 0 1px;
}

#nav li .current_t {
	background: url('/images/current_ie_t.png') no-repeat left top;
	height: 0;
	margin-top: 0;
	padding-top: 0;
}

#nav li .current_b {
	background: url('/images/current_ie_b.png') no-repeat left bottom;
	height: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#nav h2 {
	display: inline;
}

#nav #rainfall {
  padding-bottom: 1px;
}

#content h2 {
	display: inline;
	margin-right: -3px;
}