#nav li span { /* unlinked menu item */
  display: inline;
}

#nav li .current_t {
  padding-top: 5px;
  z-index: 100;
  position: relative;
  overflow: hidden;
}

#nav li .current_b {
  margin: 0 0 -2px 0;
  padding-bottom: 7px;
}

#nav li.current a {
  display: inline;
}
