<h1>New region (edit)</h1>

<% form_tag :action => 'create', :nation_id => params[:nation_id] do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag "Create" %></p>
<% end %>

<hr size="1" color="#ccc">

<p><%= link_to 'Back', :controller => 'index' %></p>