<h1>Home</h1>
<% if :notice %><p class="notice"><%= flash[:notice] %></p><% end %>
<p><%= replace_for_view(h(@special.content)) %></p>

<%= render :partial => 'track_report/summary' %>

<p style="text-align:right"><a href="/index/rss" title="Subscribe to recent track reports" rel="alternate" type="application/rss+xml">RSS feed of recent reports <img align="absbottom" src="/images/feed.png" alt=""/></a></p>

<%= render :partial => 'shared/edit_admin' %>
