<% if params[:controller] != 'features' %><div class="foot_feature"><%= link_to 'Suggest a feature!', :controller => 'features', :action => 'new', :kind => 'feature' %> | <%= link_to 'Found a problem?', :controller => 'features', :action => 'new', :kind => 'problem' %><%= ' (Requires login)' if !logged_in? %></div><% end %>

<div class="foot_l">&nbsp;</div>

<div class="foot_c">
  <div class="foot_monkey"><a href="http://www.cheekymonkey.co.nz"><img src="/images/cheeky_sm.png" alt=""/></a></div>
  <div class="foot_content">A Cheeky Monkey production, <%= silly_salutation %>!</div>
</div>

<div class="foot_r">&nbsp;</div>
