<div class="head_l">&nbsp;</div>

<div class="head">

<div class="logo"><a href="/"><img src="/images/tracks_logo.png"/></a></div>

<div id="header_auth" class="auth">
<%= render :partial => "shared/header_auth" %>
</div>

</div>

<div class="head_r">&nbsp;</div>

<div class="clearboth"></div>
