<% if logged_in? %>
<p> &nbsp;<%= link_to !@user.nil? ? @user.screen_name : current_user.screen_name, :controller => '/settings' %> 
| <%= link_to 'Log out', :controller => '/account', :action => 'logout' %></p>
<% else %>
<p>
<% if params[:action] == 'login' %>Log in<% else %><%= link_to 'Log in', :controller => '/account', :action => 'login' %><% end %>
|
<% if params[:action] == 'signup' %>Sign up<% else %><%= link_to 'Sign up', :controller => '/account', :action => 'signup' %><% end %>
</p>
<% end %>
