<p></p>

<h2>User Settings</h2><h3></h3>

<div class="two_cols">

<div id="user_settings_body">
  <div class="col_one">Email (login)</div>
  <div class="col_two"><%=h @user.login %></div>

  <div class="col_one">Screen name</div>
  <div class="col_two"><%=h @user.screen_name %></div>
</div>

  <hr size=1 color='#ccc'>
  <%= link_to_remote 'Edit', :url => {:action => 'edit_user_settings'} %>

</div>