<div class="edit_report">

<% form_remote_tag :url => {:controller => 'track_report', :action => 'update', :id => @track_report} do %>

<div><%= text_area 'track_report', 'description', :cols => 20, :rows => 10 %></div>

<div style="margin-top:5px;"><%= submit_tag "Update" %> | <%= link_to_remote 'Cancel', :url => {:action => 'cancel_edit', :id => @track_report} %></div>
<% end %>

</div>