<p>
  <b>Name:</b>
  <%=h @map_type.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @map_type.type %>
</p>


<%= link_to 'Edit', :action => 'edit', :id => @map_type %> |
<%= link_to 'Back', :action => 'index' %>
