<%= error_messages_for 'track_aka', :header_tag => 'h4' %>

<!--[form:track_aka]-->
<p><label for="track_aka_name">Also known as</label><br/>
<%= text_field 'track_aka', 'name'  %></p>
<!--[eoform:track_aka]-->

