<% track = Track.find(:first, :conditions => ["id = ?", params[:track_id]]) %>
<li><%= link_to track.area.region.name, { :controller => 'region', :action => 'show', :id => track.area.region.id }, :id => 'region' %></li>
<li><%= link_to track.area.name, { :controller => 'area', :action => 'show', :id => track.area.id }, :id => 'area' %></li>
<%= render :partial => 'shared/nav_current', :locals => { :id => 'track', :current => track.name + ' (edit)' } %>