<h1>New 'also known as' for <%= params[:track_name] %></h1>
<% form_tag :action => 'create', :track_id => params[:track_id] do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag "Add" %></p>
<% end %>

<hr/>

<p><%= link_to 'Back', :controller => 'track', :action => 'edit', :id => params[:track_id] %></p>