<div class="left">Comments</div>
<div class="right">
  <% if @comments.length > 0 %>
  <% @comments.each do |@feature_comment| %>
  <%= render :partial => 'feature_comments/show' %>
  <%= '<hr/>' if @feature_comment != @comments.last %>
  <% end %>
  <% else %>
  None<span id="delete_link"></span>
  <% end %>
  <div id="new_comment"></div>
</div>
