<hr/>
<% form_remote_tag :url => {:action => 'create_comment', :id => @feature} do %>

  <%= hidden_field 'feature_comment', 'feature_id' %>

<div style="margin-bottom:8px;">
  <%= text_area 'feature_comment', 'comment', "cols" =>60, "rows" => 8 %>
</div>

<div class="edit"><%= submit_tag "Add comment" %> or <%= link_to_remote 'Cancel', :url => {:action => 'cancel_add_comment', :feature_id => params[:feature_id]} %></div>
<% end %>
