<td class="c1">
<% if @rain_reading.mm >= 0 %>
  <% if admin? %>
    <%= link_to_remote @rain_reading.mm, {:url => {:controller => 'rain_readings', :action => 'edit', :id => @rain_reading.id}, :method => :get} %>
  <% else %>
    <%= @rain_reading.mm %>
  <% end %>
  </td>
  <td>
    <% if @rain_reading.mm > 15.1 %>
      <img style="width: 151px; height: 7px;" alt="" src="/images/1x1black.png"/></td><td class="c1">&nbsp;+
    <% else %>
      <img style="width: <%= @rain_reading.mm * 10 %>px; height: 7px;" alt="" src="/images/1x1black.png"/>
    <% end %>
<% else %>
  -
  </td>
  <td>
  <% if admin? %>
    <%= link_to_remote '(data&nbsp;not&nbsp;available)', {:url => {:controller => 'rain_readings', :action => 'edit', :id => @rain_reading.id}, :method => :get} %>
  <% else %>
    (data&nbsp;not&nbsp;available)
  <% end %>
  </td>
  <td>
<% end %>
</td>
