<% form_remote_tag(:url => { :action => 'create', :track_id => params[:track_id] }, :html => { :id => 'create' } ) do %>
<p><%= select 'track_connection', 'connect_track_id', collection.collect {|c| [c.name, c.id] }, {:include_blank => title, :selected => nil}, {:onchange => "this.form.onsubmit();"} %></p>
<% end %>
