<h1>FAQ (edit)</h1>

<% form_tag :action => 'update', :id => @faq do %>
  <%= render :partial => 'form' %>
  <p class="form_buttons"><%= submit_tag "Save changes" %> or <%= link_to 'Cancel', :action => 'index' %></p>
<% end %>
