<h1>New FAQ</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p class="form_buttons"><%= submit_tag "Create" %> or <%= link_to 'Cancel', :action => 'index' %></p>
<% end %>
