<h1>About</h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>
<p><%= replace_for_view(h(@special.content)) %></p>

<%= render :partial => 'shared/edit_admin' %>
<% if admin? %>
| <%= link_to 'Twitter site update', {:action => 'issue_site_update'}, :confirm => 'Issue site update, are you sure?', :method => :post %>
<% end %>