<h1>Admin: user (set password)</h1>
<% form_tag :action => 'update_password', :id => @user do %>

<%= error_messages_for 'user', :header_tag => 'h4' %>

<div class="two_cols">
  <div class="col_one"><div class="edit">New password</div></div>
  <div class="col_two"><%= text_field 'user', 'password' %></div>
</div>

  <p class="form_buttons"><%= submit_tag 'Set password' %> or <%= link_to 'Cancel', :action => 'show', :id => @user %></p>
<% end %>
